@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home page";
    var username = "";
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        username = await UserManager.GetUserNameAsync(user);
    }

}

<div class="text-center">
    <h1 class="display-4">Welcome to Clicker!</h1>
    <div class="box-container">
        <a style="float:left;" class="home-page-button general-button" href="/Play/Index">Play</a>
        <a style="float:right;" class="home-page-button general-button" href="/Leaderboard/Index/time=0&page=0">Leaderboard</a>
        
        @if (SignInManager.IsSignedIn(User))
        {
            <a style="float:left;" class="home-page-button general-button" href="/Users/User?username=@username">Account</a>
            <a style="float:right;" class="home-page-button general-button" href="/Identity/Account/Manage">Settings</a>
        }
        else
        {
            <a style="float:left;" class="home-page-button general-button" href="/Identity/Account/Register">Register</a>
            <a style="float:right;" class="home-page-button general-button" href="/Identity/Account/Login">Login</a>
        }
    </div>
</div>