@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clicker!</h1>
    <div class="box-container">
        <a style="float:left;" class="home-page-button general-button" href="Play/Index">Play</a>
        <a style="float:right;" class="home-page-button general-button" href="/Leaderboard/Index/time=0&page=0">Leaderboard</a>
    </div>
</div>