@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="box-container">
    <div class="text-center">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label class="login-label" asp-for="Input.UserName"></label>
            <div class="form-floating">
                <input asp-for="Input.UserName" class="login-input text-center" autocomplete="username" aria-required="true" placeholder="Username"/><br />
                <span asp-validation-for="Input.UserName" style="display:inline-block;" class="text-danger"></span>
            </div>

            <label class="login-label" asp-for="Input.Email"></label>
            <div class="form-floating">
                <input asp-for="Input.Email" class="login-input text-center" autocomplete="username" aria-required="true" placeholder="Email"/><br />
                <span asp-validation-for="Input.Email" style="display:inline-block;" class="text-danger"></span>
            </div>

            <label class="login-label" asp-for="Input.Password"></label>
            <div class="form-floating">
                <input asp-for="Input.Password" class="login-input text-center" autocomplete="new-password" aria-required="true" placeholder="Password"/><br />
                <span asp-validation-for="Input.Password" style="display:inline-block;" class="text-danger"></span>
            </div>

            <label class="login-label" asp-for="Input.ConfirmPassword"></label>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="login-input text-center" autocomplete="new-password" aria-required="true" placeholder="Confirm Password"/><br />
                <span asp-validation-for="Input.ConfirmPassword" style="display:inline-block;" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="general-button login-button">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
