@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clicker!</h1>
    <div class="box-container home-page-box-container">
        <a style="float:left;" class="home-page-button general-button" asp-area="" asp-page="/Play">Play</a>
        <a style="float:right;" class="home-page-button general-button" asp-area="" asp-page="/Leaderboard">Leaderboard</a>
    </div>
</div>
